.footer
  .btn
    = link_to "#" ,class: "btn--link rireki" do
      履歴
  .btn
    = link_to "#" ,class: "btn--link graf" do
      グラフ
  .btn
    = link_to "#" ,class: "btn--link di" do
      詳細
  .btn
    = link_to new_car_infomation_path ,class: "btn--link input" do
      入力
    -# new_infomation_path