.footer
  .btn
    = link_to car_path(@car) ,class: "btn--link rireki" do
      履歴
  .btn
    = link_to "#" ,class: "btn--link graf" do
      グラフ
  .btn
    = link_to new_car_infomation_path ,class: "btn--link input" do
      入力