.main
  - current_user.cars.each do |car|
    .menu
      = link_to '#' do
        .menu__name
          = car.car_name
        .menu__foto
          = car.image
        .menu__firstrange
          = car.first_range