.main
  - current_user.cars.each do |car|
    .main__menu
      = link_to '#' do
        .main__menu--carname
          = car.car_name
        .main__memu--foto
          = car.image
        .main__memu--firstrange
          = car.first_range