.main
  - current_user.cars.each do |car|
    .menu
      .menu--carname
        = link_to '#' do
          = car.car_name
      .memu--foto
        a
      .memu--firstrange
        0
  -# - current_user.cars.each do |car|
  -#   .menu
  -#     = link_to '#' do
  -#       .menu--carname
  -#         z
  -#       .memu--foto
  -#         a
  -#       .memu--firstrange
  -#         0