.maininfo
  .maininfo--scroll
    .maininfo--scroll__obj 車両名：
    .maininfo--scroll__name 
      = @car.car_name
  .maininfo--scroll
    .maininfo--scroll__day 給油日:
  .maininfo--scroll
    .maininfo--scroll__TRIP TRIP:
  .maininfo--scroll
    .maininfo--scroll__totalrange 総走行距離:
  .maininfo--scroll
    .maininfo--scroll__totalrefuel 総給油量:
  .maininfo--scroll
    .maininfo--scroll__totalFuelfee 総給油費:
  .maininfo--scroll
    .maininfo--scroll__avgFueleconomy 平均燃費:
  .maininfo--scroll
    .maininfo--scroll__dayFueleconomy 直近燃費:
  .maininfo--scroll
    .maininfo--scroll__maxFueleconomy 最高燃費:
  .maininfo--scroll
    .maininfo--scroll__minFueleconomy 最低燃費: