= form_with model: @car, local: true do |f|
  = f.text_field :car_name, class: "SettingGroupForm__input", placeholder: "車両名を入力してください"
  = f.text_field :first_range, class: "SettingGroupForm__input", placeholder: "初期走行距離を入力してください。"
  = f.submit "Save", class: "SettingGroupForm__button"